* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header {
    font-size: xx-large;
    margin: 70px 0px 70px 0px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 70vh;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 15px;
    width: 100%;
}

.box {
    aspect-ratio: 1;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    border-radius: 5px;
    background-color: #00293e;
    font-size: 50px;
    border: 1px solid #3bedee;
    cursor: pointer;
    transition: all 0.5s ease;
}

.box:hover {
    background-color: #004d6e;
}


#reset {
    height: max-content;
    width: max-content;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 1rem;
    font-size: 25px;
    background-color: #00293e;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #3bedee;
}

.msgContainer {
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-size: xx-large;
}

#new-btn {
    padding: 1rem;
    font-size: 25px;
    background-color: #00293e;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #3bedee;
}

#msg {
    color: #ff07ea;
    font-size: 7vh;
}

.hide {
    display: none;
}

@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (orientation: portrait) {}

@media (orientation: landscape) {}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {}